

<section class="">
<div class="h-screen w-screen flex justify-center items-center">
    <h1 class="w-50 h-25 flex justify-center items-center text-2xl text-black" >welcome to the alpha blog</h1>
</div>
</section> 

<footer class="text-black text-2xl font-bold">
<h1>by roba</h1>
</footer>
