<nav class="font-sans flex flex-col text-center content-center sm:flex-row sm:text-left sm:justify-between py-2 px-6 bg-white shadow sm:items-baseline w-full">
  <div class="mb-2 sm:mb-0 inner">
    <%= link_to 'Alpha blog', root_path , class: 'text-2xl no-underline text-grey-darkest hover:text-blue-dark font-sans font-bold' %>
  </div>

  <div class="sm:mb-0 self-center">
    <!-- <div class="h-10" style="display: table-cell, vertical-align: middle;"> -->
    <a href="articles" class="text-md no-underline text-black hover:text-blue-dark ml-2 px-1">Articles</a>
    <a href="about" class="text-md no-underline text-grey-darker hover:text-blue-dark ml-2 px-1">about</a>
    <a class="text-md no-underline text-grey-darker hover:text-blue-dark ml-2 px-1"></a>
    <%= link_to "Bloggers" , users_path ,class:"text-md no-underline text-grey-darker hover:text-blue-dark ml-2 px-1" %>
    <%= link_to "log in" , login_path ,class:"text-md no-underline text-grey-darker hover:text-blue-dark ml-2 px-1" %>
        <%= link_to "log out" , logout_path ,class:"text-md no-underline text-grey-darker hover:text-blue-dark ml-2 px-1", data: { "turbo-method": :delete, "turbo-confirm": "Are you sure?"}  %>
    <!-- </div> -->

  </div>
</nav>